---
# Use reference instead of repeating the cloud-to-edge params
c2e_params: &cloud-to-edge-params
  ENABLE_ANSIBLE_DEBUG: ((enable_ansible_debug))
  C2E_INSTALLER: ((c2e_installer))
  NTPSERVERS: ((ntpservers))
  DNSSERVER: ((dnsserver))
  DNSDOMAIN: ((dnsdomain))
  DEFAULTGATEWAY: ((defaultgateway))
  NETMASK: ((netmask))
  binary_webserver: ((binary_webserver))
  base_ova_name: ((base_ova_name))
  base_ova_name_arm: ((base_ova_name_arm))
  base_ova_origin: ((binary_webserver))/((base_ova_name))
  base_ova_origin_arm: ((binary_webserver))/((base_ova_name_arm))
  c2e_edge_vm_basename: ((c2e_edge_vm_basename))
  c2e_edge_vm_user: ((c2e_edge_vm_user))
  c2e_edge_vm_password: ((c2e_edge_vm_password))
  c2e_edge_vm_network: ((c2e_edge_vm_network))
  c2e_edge_vm_ssh_priv_key: ((c2e_edge_vm_ssh_priv_key))
  c2e_edge_vm_ssh_pub_key: ((c2e_edge_vm_ssh_pub_key))
  c2e_edge_deploy_size: ((c2e_edge_deploy_size))
  GIT_KEY: ((git_key))
  azure_iot_enable: ((azure_iot_enable))
  azure_cli_application_id: ((azure_cli_application_id))
  azure_cli_application_key: ((azure_cli_application_key))
  azure_cli_tenant_id: ((azure_cli_tenant_id))
  azure_iot_hub_name: ((azure_iot_hub_name))
  azure_iot_group: ((azure_iot_group))
  azure_iot_edge_names: ((azure_iot_edge_names))
  aws_greengrass_enable: ((aws_greengrass_enable))
  aws_access_key: ((aws_access_key))
  aws_secret_key: ((aws_secret_key))
  aws_region: ((aws_region))
  greengrass_s3_bucket: ((greengrass_s3_bucket))
  skip_s3_uploads: false
  greengrass_group_names: ((greengrass_group_names))
  greengrass_device_stub: ((greengrass_device_stub))
  greengrass_device_count: ((greengrass_device_count))
  greengrass_deploy: ((greengrass_deploy))
  c2e_edges: ((c2e_edges))
  c2e_edge_start: 0
  c2e_edge_end: 0
  c2e_bundle_params: ((c2e_bundle_params))

{% for range in ranges %}
c2e_params_{{ range.min }}_{{ range.max }}: &c2e_params_{{ loop.index }}
  <<: *cloud-to-edge-params
  c2e_edge_start: {{ range.min }}
  c2e_edge_end: {{ range.max }}
{% endfor %}

groups:

- name: full-deploy
  jobs:
  - deploy
  - cloud-build
  - edge-build
{% for range in ranges %}
  - vm-build-{{ range.min }}-{{ range.max }}
  - edge-cfg-{{ range.min }}-{{ range.max }}
  - edge-activate-{{ range.min }}-{{ range.max }}
{% endfor %}
  - deploy-finish-VERSION-72{{ config_version|default("") }}

- name: cloud-provider
  jobs:
  - cloud-build
  - edge-build

- name: gateways
  jobs:
{% for range in ranges %}
  - vm-build-{{ range.min }}-{{ range.max }}
  - edge-cfg-{{ range.min }}-{{ range.max }}
  - edge-activate-{{ range.min }}-{{ range.max }}
{% endfor %}

- name: complete
  jobs:
  - deploy-finish-VERSION-72{{ config_version|default("") }}

# - name: cleanup
#   jobs:
#   - uninstall-cloud-to-edge

resource_types:
- name: file-url
  type: docker-image
  source:
    repository: pivotalservices/concourse-curl-resource

resources:
- name: pipeline
  type: git
  source:
    uri: git@github.com:vmware/cloud-to-edge-concourse-deploy.git
    branch: master
    private_key: ((git_key))

- name: automation
  type: git
  source:
    uri: git@github.com:vmware/cloud-to-edge-automation
    branch: master
    private_key: ((git_key))

- name: provider2-iot
  type: git
  source:
    uri: git@github.com:vmware/ansible-role-azure-iot
    branch: master
    private_key: ((git_key))

- name: provider2-edge
  type: git
  source:
    uri: git@github.com:vmware/ansible-role-azure-edge
    branch: master
    private_key: ((git_key))

- name: edge-vm
  type: git
  source:
    uri: git@github.com:vmware/ansible-role-cloud-to-edge-vm
    branch: master
    private_key: ((git_key))

- name: aws-greengrass
  type: git
  source:
    uri: https://github.com/vmware/ansible-aws-greengrass.git
    branch: master

- name: base-ova
  type: file-url
  source:
    #username: username
    #password: password
    url: ((binary_webserver))/((base_ova_name))
    filename: ((base_ova_name))
    skip_ssl_verification: true

# Download from https://my.vmware.com/group/vmware/details?productId=614&downloadGroup=OVFTOOL420#
- name: ovftool
  type: file-url
  source:
    #username: username
    #password: password
    url: ((binary_webserver))/((ovftool_image))
    filename: ((ovftool_image))
    skip_ssl_verification: true

jobs:

- name: deploy
  plan:
  - aggregate:
    - get: pipeline
    - get: automation
    - get: base-ova
    - get: ovftool
    - get: aws-greengrass

  - task: install-cloud-to-edge
    file: pipeline/tasks/install-cloud-to-edge/task.yml
    params: *cloud-to-edge-params

- name: cloud-build
  plan:
  - aggregate:
    - get: pipeline
    - get: automation
      params: {globs: []}
      passed: [deploy]
      trigger: true
    - get: provider2-iot
    - get: provider2-edge
    - get: aws-greengrass

  - task: initialize-cloud-iot
    file: pipeline/tasks/initialize-cloud-iot/task.yml
    params: *cloud-to-edge-params

- name: edge-build
  plan:
  - aggregate:
    - get: pipeline
    - get: automation
      params: {globs: []}
      passed: [cloud-build]
      trigger: true
    - get: provider2-iot
    - get: provider2-edge
    - get: aws-greengrass

  - task: deploy-edge-version
    file: pipeline/tasks/deploy-edge-version/task.yml
    params: *cloud-to-edge-params

{% for range in ranges %}
- name: vm-build-{{ range.min }}-{{ range.max }}
  plan:
  - aggregate:
    - get: pipeline
    - get: automation
      params: {globs: []}
      passed: [edge-build]
      trigger: true
    - get: edge-vm

  - task: vm-build
    file: pipeline/tasks/launch-edge-gateway-vm/task.yml
    params: *c2e_params_{{ loop.index }}

- name: edge-cfg-{{ range.min }}-{{ range.max }}
  plan:
  - aggregate:
    - get: pipeline
    - get: automation
      params: {globs: []}
      passed: [vm-build-{{ range.min }}-{{ range.max }}]
      trigger: true
    - get: provider2-iot
    - get: provider2-edge
    - get: aws-greengrass
    - get: edge-vm

  - task: add-cloud-to-edge-edge-gateway
    file: pipeline/tasks/add-cloud-to-edge-edge-gateway/task.yml
    params: *c2e_params_{{ loop.index }}

- name: edge-activate-{{ range.min }}-{{ range.max }}
  plan:
  - aggregate:
    - get: pipeline
    - get: automation
      params: {globs: []}
      passed: [edge-cfg-{{ range.min }}-{{ range.max }}]
      trigger: true
    - get: provider2-iot
    - get: provider2-edge
    - get: aws-greengrass
    - get: edge-vm

  - task: cloud-to-edge-edge-gateway-configure
    file: pipeline/tasks/edge-gateway-configure/task.yml
    params: *c2e_params_{{ loop.index }}
{% endfor %}

- name: deploy-finish-VERSION-72{{ config_version|default("") }}
  plan:
  - aggregate:
    - get: pipeline
    - get: automation
      params: {globs: []}
      passed:
{% for range in ranges %}
        - edge-activate-{{ range.min }}-{{ range.max }}
{% endfor %}
      trigger: true

  - task: deploy-finish-VERSION-72{{ config_version|default("") }}
    file: pipeline/tasks/noop/task.yml
    params: *cloud-to-edge-params
